.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 100px;
}

.header {
    display: flex;
    margin-bottom: 50px;
        
        & h1 {
            font-size: 2.5rem;
            color: #232579;
            margin-right: 20px;
        }

        & button {
            width: 45px;
            height: 45px;
            background-color: #232579;
            color: #fff;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background-color: #1a1a4b;
            }

            & .rotate {
                transform: rotate(45deg);
            }
        }
}

.todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;

    & input {
        background-color: #232579;
        color: #fff;
        padding: 10px 15px;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: 1rem;
        width: 300px;
    }

    & button {
        background-color: #232579;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: #1a1a4b;
        }
    }
}

.hidden {
    display: none;
}

.todo-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.todo-card {
    background-color: #cf0b0b;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.3s;

    &:hover {
        transform: translateY(-10px);
    }

    & .title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 10px;
    }

    & .description, .priority {
        font-size: 1rem;
        color: #fff;
        margin-bottom: 10px;
        word-wrap: break-word;
    }

    & .priority {
        margin-bottom: 15px;
    }

    & button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    & input {
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        outline: none;
        width: 100%;
    }

    & .priority-edit {
        width: 100%;
        display: flex;

        & input {
            padding-left: 5px;
        }
    }

    & .edit {
        position: absolute;
        bottom: 10px;
        right: 40px;
        font-size: 22px;
        color: #fff;
    }

    & .trash {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 16px;
        color: #fff;
    }

    & .trash:hover, .edit:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    & .edit-form button{
        width: 75px;
        font-size: 12px;
        font-weight: 700;
        background-color: #fff;
        color: #cf0b0b;
        padding: 5px;
        border: none;
        outline: none;
        border-radius: 50px;
        margin-right: 5px;
    }
}

.feito {
    background-color: #1fa134;

    & .edit-form button {
        color: #1fa134;
    }
}
